<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Judul Berita </title>
     <!--  Icon -->
     <link rel="shourcut Icon" href="images/icon.jpg">
    <!-- Description -->
    <meta name="description" content=" Bekasi Mobile System - Jasa pembuatan Aplikasi Berbasis web,Desktop,Android Di bekasi">
    <!-- Keyword -->
    <meta name="keyword" content="Bekasi Mobile System - Jasa pembuatan Tugas Akhir Dan Skripsi Berbasis web Di bekasi,Jasa pembuatan website,jasa pembuatan aplikasi di jakarta,asa pembuatan aplikasi di bogor,asa pembuatan aplikasi di depok">
    <!-- Author -->
	<meta name="author" content="Bekasi Mobile System">
     <!-- css boostrap -->
     <link rel="stylesheet" href="css/bootstrap.css">
     <!-- css buatan sendiri -->
     <link rel="stylesheet" href="css/style.css">
     <!-- Font-Awesome -->
     <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
 
</head>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">Bekasi Mobile System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Berita
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="berita.html">Halaman Berita</a>
                <a class="dropdown-item" href="detail.html">Detail Berita</a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">Services</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="profile.html">Profile</a>
                  </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
                </li>
          </ul>
          
        </div>
    </div>
      </nav>
    </header>


      
      <div class="album py-5 bg-light">
          <div class="container">
            
            <div class="row judul">
            <div class="col-md-12 text-center">
            <h1>Judul Berita</h1>
          </div>
          </div>

            <div class="row artikel">
                <div class="col-md-8">
                  <p><img src="images/produk.jpg" alt="Gambar" class="img img-thumbnail img-responsive"></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores saepe repellendus, rem voluptatem voluptatum autem porro a, deleniti. Fugiat molestiae aspernatur fugit id, voluptas quasi fuga architecto. Exercitationem vel harum suscipit aliquam vero, aut voluptatibus fugit quam vitae quas odit porro magnam temporibus repudiandae obcaecati doloribus esse nihil, natus laudantium maiores aspernatur dolorum at dolor. Officia nisi explicabo alias vero sint, aliquid magni animi temporibus? Eius ipsam voluptates nostrum expedita eaque fugiat ratione, sed, maiores velit, voluptate animi labore. Beatae animi aliquid odit quas necessitatibus assumenda maxime nobis labore recusandae, culpa esse, autem provident. Beatae nisi itaque, ipsum amet perspiciatis.</p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quis modi optio vero sit accusantium suscipit voluptatibus commodi nisi id, nobis harum, esse nam inventore, consequatur ut quo dolore animi placeat est veritatis explicabo? Quos officiis velit cum iure quidem inventore hic voluptatibus facilis esse, maxime nisi commodi accusantium ut nobis sed quaerat eaque similique dignissimos unde ipsum impedit consectetur fuga at autem distinctio! Quia sint, asperiores quis assumenda veniam. Dolore reprehenderit, animi quaerat dolor soluta error repudiandae tenetur nostrum explicabo, doloremque qui. Quis magnam in animi natus beatae temporibus ad iste nemo, voluptatum, tenetur fugit officia itaque dolorem quasi!</p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque voluptatem quidem recusandae iusto veniam minima, quos, porro minus! Aliquid iusto at ipsum reprehenderit dicta, officiis, recusandae eaque accusantium quisquam magnam eum voluptatem corporis nihil, quaerat odit repudiandae cupiditate, earum quos id enim dolorum. Accusamus dicta voluptates qui sint veritatis neque tenetur, ullam atque possimus alias similique dolores suscipit, quam officiis tempore beatae laboriosam. Quaerat mollitia blanditiis nulla, facilis qui dolorum iure officiis a quos natus, nihil obcaecati suscipit sit, nisi eveniet nobis aut possimus odio vel ad aperiam, enim incidunt. At facere fugit maiores consectetur possimus, enim itaque quidem reprehenderit.</p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, odit, excepturi. Animi ex nostrum reprehenderit ea rem repudiandae possimus fuga ratione, qui pariatur veritatis officia quo laboriosam aliquam, optio rerum debitis libero, necessitatibus, omnis quam itaque iste accusantium! Saepe recusandae pariatur quod harum magnam id alias fuga labore cupiditate nihil, aspernatur voluptate impedit tempora, modi corporis quisquam, accusantium repellendus odit ullam vero aut quam. Doloremque, perspiciatis eveniet laboriosam fugit facilis. Earum rem quisquam, harum deleniti mollitia accusantium expedita in suscipit, dolores, illo placeat? Ex totam, ipsam molestiae praesentium eaque, odio voluptates aliquid nobis perferendis est similique dicta aspernatur ratione eum.</p>

                </div>

                <div class="col-md-4">
                <aside>
                <h3>Berita Lainnya:</h3>
                <ul>
                  <li><a href="detail.html">Judul Berita Lainnya</a></li>
                   <li><a href="detail.html">Judul Berita Lainnya</a></li>
                    <li><a href="detail.html">Judul Berita Lainnya</a></li>
                     <li><a href="detail.html">Judul Berita Lainnya</a></li>
                      <li><a href="detail.html">Judul Berita Lainnya</a></li>
                    </ul>
                    </aside>
                </div>
                <div class="clearfix"></div>
              
              </div>

              <!-- End Row -->

                </div>
              </div>
  
              
              <div class="clearfix"></div>
        
      

        <!-- FOOTER -->
      <footer class="footer">
          <div class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
        </footer>
      
    
</body>
<!-- load javascript jquery -->
<script src="jquery-ui/external/jquery/jquery.js" type="text/javascript"></script>
<!-- Propper JS -->
<script src="bootstrap/assets/js/vendor/popper.min.js" type="text/javascript"></script>
<!-- Javascript Boostrap -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- holder js -->
<script src="bootstrap/assets/js/vendor/holder.min.js" type="text/javascript"></script>
</html>